body {
    background-color: rgb(230, 230, 230);

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Affichage plan a droite */
#droite {
    margin-left: 80%;
    position: relative;
}

#text {
    text-transform: uppercase;
    margin-right: 18%;
    text-align: center;
}

/* Affichage bar en haut */

.barHaut {
    position: absolute;
    background-color: #333;
    overflow: hidden;
    /* margin-right: 30%; */
    width: 78%;
}

.barHaut a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.barHaut a:hover {
  background-color: #ddd;
  color: black;
}

.barHaut a.active {
  background-color: #4CAF50;
  color: white;
}

#milieu {
    margin-left: 38%;
}

.droite {
    margin-left: 33%;
}
